<!DOCTYPE html>
<html>
<head>
    <title>Email - View All</title>
</head>
<body>
<h1>Email</h1>
<a href="add">Add New Email</a> <br />
<table border="1">
    <tr>
        <th>Main Email</th>
        <th>Work Email</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < email.length; i++)  {  %>
    <tr>
        <td>
            <a href="/email/?email_id=<%= email[i].email_id %>">
                <%= email[i].main_email %>
            </a>
        </td>
        <td>
            <a href="/email/?email_id=<%= email[i].email_id %>">
                <%= email[i].work_email %>
            </a>
        </td>
        <td>
            <a href='/email/edit/?email_id=<%= email[i].email_id %>'>
                Edit
            </a>
            &nbsp;<a href='/email/delete?email_id=<%= email[i].email_id %>'>
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>