<!DOCTYPE html>
<html>
<head>
    <title>Physical Address - View All</title>
</head>
<body>
<h1>Phyiscal_Address</h1>
<table border="1">
    <tr>
        <th>street_num</th>
        <th>street</th>
        <th>zip_code</th>
    </tr>
    <% for(var i = 0; i < physical_address.length; i++)  {  %>
    <tr>
        <td>
            <a href="/name/?name_id=<%= physical_address[i].name_id %>">
                <%= physical_address[i].street_num %>
            </a>
        </td>
        <td>
            <a href="/name/?name_id=<%= physical_address[i].name_id %>">
                <%= physical_address[i].street %>
            </a>
        </td>
        <td>
            <a href="/name/?name_id=<%= physical_address[i].name_id %>">
                <%= physical_address[i].zip_code %>
            </a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>