<!DOCTYPE html>
<html>
<head>
    <title>Name - View All</title>
</head>
<body>
<h1>Name</h1>
<table border="1">
    <tr>
        <th>First_name</th>
        <th>Last_name</th>
        <th>middle_init</th>
    </tr>
    <% for(var i = 0; i < name.length; i++)  {  %>
    <tr>
        <td>
            <a href="/name/?name_id=<%= name[i].name_id %>">
                <%= name[i].first_name %>
            </a>
        </td>
        <td>
            <a href="/name/?name_id=<%= name[i].name_id %>">
                <%= name[i].last_name %>
            </a>
        </td>
        <td>
            <a href="/name/?name_id=<%= name[i].name_id %>">
                <%= name[i].middle_init %>
            </a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>